body {
  background-color: #eff8ff;
}
.contact {
  font-family: 'Great Vibes', cursive;
  color: grey;
  text-align: center;
  font-size: 3.5rem;
}
.reach {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  margin: 50px auto;
  color: #184d47;
  }
.call {
  font-size: 3rem;
  margin-bottom: 50px;
  font-weight: bold;
}
.get {
  font-size: 2rem;
}
#top {
text-align: center;
color: #184d47;
}
.connect {
  font-size: 2rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  list-style: none;
}

.space {
  padding-left: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
#middle {
  text-align: center;
  background-color: #184d47;
  color: #eff8ff;
  padding: 30px 0;
}
.copy {
  text-align: center;
  padding: 30px 0;
}
.no-rule {

  color: #184d47;
}
a:hover {
  text-decoration: none;
  color: grey;
}
